<header>
  <div class="container">
    <div class="page-header">
      <h1 style="display: inline-block">
        <img src="assets/goyello-logo.png" style="width: 65px;"> Notes app</h1>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 side">
        <div class="notes-list__button">
          <h4 class="notes-list__button__elements">Your recent notes</h4>
          <button class="btn btn-success btn-lg notes-list__button__elements pull-right">+</button>
        </div>
        <!--BEGIN: Notes list-->
        <div class="list-group side__list">
          <button *ngFor="let note of notes" (click)="selectItem(note)" [ngClass]="{ 'active': note == selectedNote }" [disabled]="note == selectedNote"
            class="list-group-item">
            <div>
              <p>{{ note.title }}</p>
              <p class="badge">{{ note.createdOn }}</p>
              <b *ngIf="note.content.length > 25" class="pull-right">It is long one</b>
            </div>
          </button>
        </div>
        <!--END: Notes list-->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <!--BEGIN: Note details-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>
              {{ selectedNote.title }}
            </h3>
            <h4>
              {{ selectedNote.createdOn }}
            </h4>
          </div>
          <div class="panel-body">
            <p class="text-justify">
              {{ selectedNote.content }}
            </p>
          </div>
        </div>
        <!--END: Note details-->
        <!--BEGIN: New note form-->
        <div class="panel panel-success">
          <div class="panel-heading">New note</div>
          <div class="panel-body">
            <form #newNoteForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="note-title">Title:</label>
                <input type="text" [(ngModel)]="newNote.title" required class="form-control" name="note-title" id="note-title">
                <blockquote>{{ newNote.title }}</blockquote>
              </div>
              <div class="form-group">
                <label for="note-content">Note:</label>
                <textarea [(ngModel)]="newNote.content" required class="form-control new-note__content-input" name="note-content" id="note-content"></textarea>
                <blockquote>{{ newNote.content }}</blockquote>
              </div>
              <button type="submit" [disabled]="!newNoteForm.form.valid" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
        <!--END: New note form-->
      </div>
    </div>
  </div>
</main>