<header>
  <div class="container">
    <div class="page-header">
      <h1 style="display: inline-block">
        <img src="assets/goyello-logo.png" style="width: 65px;"> Notes app</h1>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 side">
        <div class="notes-list__button">
          <h4 class="notes-list__button__elements">Your recent notes</h4>
          <button class="btn btn-success btn-lg notes-list__button__elements pull-right">+</button>
        </div>
        <!--BEGIN: Notes list-->
        <app-notes-list [notes]="notes" (selectedItem)="onSelectedItem($event)"></app-notes-list>
        <!--END: Notes list-->
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <!--BEGIN: Note details-->
        <app-note-details [selectedNote]="selectedNote"></app-note-details>
        <!--END: Note details-->
        <!--BEGIN: New note form-->
        <div class="panel panel-success">
          <div class="panel-heading">New note</div>
          <div class="panel-body">
            <form #newNoteForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="note-title">Title:</label>
                <input type="text" [(ngModel)]="newNote.title" required class="form-control" name="note-title" id="note-title">
              </div>
              <div class="form-group">
                <label for="note-content">Note:</label>
                <textarea [(ngModel)]="newNote.content" required class="form-control new-note__content-input" name="note-content" id="note-content"></textarea>
              </div>
              <button type="submit" [disabled]="!newNoteForm.form.valid" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
        <!--END: New note form-->
      </div>
    </div>
  </div>
</main>